[Oo]bj/
[Bb]in/
node_modules/
wwwroot/lib/
src/wwwroot/scripts/dist/
project.lock.json
src/appsettings.production.json
test/project.lock.json

# files created by VS for publishing to azure.
# TODO remove when CI/CD is setup 
*.suo
restore.dg
*PublishProfiles*
*.PublishSettings
npm-debug.log