{
  "extends": [
    "plugin:vue/recommended"
  ],
  "rules": {
    "indent": [
      "error",
      4
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ],
    "vue/html-indent": [
      "error",
      4
    ],
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline" : "off",
    "vue/multiline-html-element-content-newline" : "off",
    "vue/html-closing-bracket-spacing": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/no-template-shadow": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "jasmine": true
  }
}