* {
    box-sizing: border-box;
}

html, body, #app {
	max-width: 1024px;
	margin: 0 auto;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.error {
	color: red;
}
.success {
	color: green;
}

span.link {
	text-decoration: underline;
	cursor: pointer;
}

th, td {
	padding-right: 20px;
}

.horizontal-scroll {
	overflow-x:auto;
	padding-bottom: 1em;
}

.align-right {
	text-align: right;
}

div.content-width-container {
	display: inline-block;
	margin: 0.5em;
}

div.content-width-container-header {
	font-weight: bold;
}

div.footnote {
	font-style: italic;
	font-weight: lighter;
	font-size: small;
}

div.field,
label {
	display: inline-block;
	width: 200px;
	white-space: nowrap;
	margin: 0.25em;
}

input[type=image].deleteButton, .success-icon {
	width: 24px;
	height: 24px;
}

.success-icon-container {
	padding-right: 0;
}

input {
	width: 125px;
}

@media screen and (min-width: 680px) {
	input {
		width: 200px;
	}
}