body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

p {
	font-size: 100%;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 150%;
}

@media (max-width: 479px) {
	h1 {
		font-size: 150%;
	}
	h2 {
		font-size: 125%;
	}
}

/*
xsmall:     (max-width: 479px),
small:      (max-width: 599px),
medium:     (max-width: 767px),
large:      (max-width: 1024px),
largeOnly:  (min-width: 768px) and (max-width: 1024px),
xxl:        (min-width: 1200px),
tall:       (min-height: 780px)
*/

.error {
	color: red;
}
.success {
	color: green;
}

span.link {
	text-decoration: underline;
	cursor: pointer;
}

th, td {
	padding-left: 10px;
	padding-right: 10px;
}

.align-right {
	text-align: right;
}

div.field,
label {
	display: inline-block;
	width: 150px;
	white-space: nowrap;
	margin: 0.25em;
}
