<div ng-controller="loginController">
	<form id="loginForm" name="loginForm" ng-submit="login()">
		<h2>Register New Account</h2>
		<fieldset>
			<div>
				<div>
					<input id="name" type="text" ng-model="givenName" max="100" placeholder="Name" autofocus="" /><br />
					<input id="email" type="text" ng-model="email" max="100" placeholder="Email address" /><br />
					<input type="password" id="password" ng-model="password" max="100" placeholder="Password" />
					<input type="password" id="confirmPassword" ng-model="confirmPassword" max="100" placeholder="Confirm Password" />
				</div>
			</div>
			<p>
				<input id="registerButton" type="button" ng-click="register()" value="Register" />
			</p>
		</fieldset>
	</form>
</div>